{{ form_start(form) }}
    {{ form_widget(form) }}
    <p>
        <a href="{{ path('ville_new') }}" >Ajouter une ville</a>
    </p>

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
