{% extends 'base.html.twig' %}

{% block title %}Photo index{% endblock %}

{% block body %}
    <h1>Photos</h1>

    <table class="table table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Chemin_dd</th>
                <th>IsProfilePicture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for photo in photos %}
            <tr>
                <td>{{ photo.id }}</td>
                <td>{{ photo.cheminDd }}</td>
                <td>{{ photo.isProfilePicture ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('crud_photo_show', {'id': photo.id}) }}">voir</a>
                    <a href="{{ path('crud_photo_edit', {'id': photo.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('crud_photo_new') }}">Ajouter une photo</a>
{% endblock %}
