{% extends 'base.html.twig' %}

{% block title %}Index des utilisateurs{% endblock %}

{% block body %}
    <h1>Utilisateurs</h1>

    <table class="table table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pseudo</th>
                <th>Roles</th>
                <th>MDP</th>
                <th>Email</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Telephone</th>
                <th>Admin?</th>
                <th>Actif?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.userIdentifier }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.familyName }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.telephone }}</td>
                <td>{{ user.isAdmin ? 'Yes' : 'No' }}</td>
                <td>{{ user.isActive ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('crud_user_show', {'id': user.id}) }}">voir</a>
                    <a href="{{ path('crud_user_edit', {'id': user.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('crud_user_new') }}">Ajouter un utilisateur</a>
    <a class="btn btn-secondary" href="{{ path('crud_user_index', {'exporter': 1}) }}">Exporter sous format CSV</a>
    <a class="btn btn-primary" href="{{ path('crud_user_new') }}">Importer sous format CSV</a>
{% endblock %}
