{% extends 'base.html.twig' %}

{% block title %}Administrateur{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bonjour Administrateur {{ app.user.username }}! ✅</h1>

    <nav class="navigation">
        <ul>
            <li><a href="{{ path('crud_campus_index') }}">Gérer les campus</a></li>
            <li><a href="{{ path('crud_ville_index') }}">Gérer les villes</a></li>
            <li><a href="{{ path('crud_groupe_index') }}">Gérer les groupes</a></li>
            <li><a href="{{ path('crud_lieu_index') }}">Gérer les lieux</a></li>
            <li><a href="{{ path('crud_ville_index') }}">Gérer les villes</a></li>
            <li><a href="{{ path('crud_photo_index') }}">Gérer les photos</a></li>
            <li><a href="{{ path('crud_sortie_index') }}">Gérer les sorties</a></li>
            <li><a href="{{ path('crud_thematiques_index') }}">Gérer les thèmes</a></li>
            <li><a href="{{ path('crud_user_index') }}">Gérer les utilisateurs</a></li>
        </ul>
    </nav>
</div>
{% endblock %}
