<div class="row">

    <div class="col-md-3">
        <div class="sortie-filtre">
            {{ form_start(sortieChoixForm) }}
{#            Utilité de "photos" dans la partie recherche ?? #}
            {% if 'photos' in sortieChoixForm %}
            {{ form_row(sortieChoixForm.photos) }}
            {% endif %}
            {{form_row(sortieChoixForm.campus)}}
            {{form_row(sortieChoixForm.contient)}}
            {{form_row(sortieChoixForm.themes)}}
            {{form_row(sortieChoixForm.entreDebut)}}
            {{form_row(sortieChoixForm.entreFin)}}
            {{form_row(sortieChoixForm.queJOrganise)}}
            {{form_row(sortieChoixForm.ouJeSuisInscrit)}}
            {{form_row(sortieChoixForm.ouJeSuisPasInscrit)}}
            {{form_row(sortieChoixForm.sortiesPassees)}}
{#            TODO AJOUTER ICI UN LIEN DU BOUTON SUBMIT VERS LA FONCTION DE RECHERCHE DU REPOSITORY#}
            <button type="submit" class="btn btn-lg btn-warning">Filtrer</button>
            {{ form_rest(sortieChoixForm) }}
            {{ form_end(sortieChoixForm) }}
        </div>
    </div>

    <div class="col-md-9">
        <div class="sorties-liste">
            {% include 'sorties/_liste_sorties.html.twig' %}
        </div>

        <div class="liste-sorties">
            <span class="d-inline-block bg-danger rounded-circle" style="width: .5em; height: .5em;"></span>
              <a href="{{ path('sorties_list') }}" title="Liste des sorties">Toutes les sorties </a>
            <span class="d-inline-block bg-danger rounded-circle" style="width: .5em; height: .5em;"></span>
              <a href="{{ path('sorties_list_archivees') }}" title="Liste des sorties">Sorties archivées</a>
        </div>
    </div>
</div>