<div class="row">

    <div class="col-md-3">
        <div class="sortie-filtre">
            {{ form_start(sortieChoixForm) }}
            {{form_row(sortieChoixForm.campus)}}
            {{form_row(sortieChoixForm.contient)}}
            {{form_row(sortieChoixForm.themes)}}
            {{form_row(sortieChoixForm.entreDebut)}}
            {{form_row(sortieChoixForm.entreFin)}}
            {{form_row(sortieChoixForm.queJOrganise)}}
            {{form_row(sortieChoixForm.ouJeSuisInscrit)}}
            {{form_row(sortieChoixForm.ouJeSuisPasInscrit)}}
            {{form_row(sortieChoixForm.sortiesPassees)}}
            <button type="submit" class="btn btn-lg btn-warning">Filtrer</button>
            {{ form_end(sortieChoixForm) }}
        </div>
    </div>




    <div class="col-md-9">
        <div class="sorties-liste">
            {% include 'sorties/_liste_sorties.html.twig' %}


            <li><a href="{{ path('sorties_list') }}" title="Liste des sorties">En cliquant ici vous trouverez l'ensemble des sorties! </a></li>
            <li><a href="{{ path('sorties_list_archivees') }}" title="Liste des sorties">Ici pour les listes archivées</a></li>
        </div>
    </div>
</div>
