{% import 'macros.html.twig' as macros %}

    {% for sortie  in sorties %}


    <article class="sorties-liste">
        <a
                href="{{ path('sorties_detail', {id:sortie.id}) }}"
                title="Détails de la sortie">{{ sortie.nom }} ({{ sortie.dateDebut|date("d/m/Y") }})
        </a>
        {% if app.user %}
            {% if app.user == sortie.organisateur %}
                - <a href="{{ path('main_home', {'annuler': sortie.id}) }}">Annuler </a>
            {% endif %}
            {% if app.user.peutRejoindre(sortie) %}
                - <a href="{{ path('main_home', {'rejoindre': sortie.id}) }}">Rejoindre </a>
            {% endif %}
            {% if app.user.peutQuitter(sortie) %}
                - <a href="{{ path('main_home', {'quitter': sortie.id}) }}">Quitter </a>
            {% endif %}
        {% endif %}
        - Organisé par :

            <a href="{{ path('user_show', {'id': sortie.organisateur.id}) }}">
                {{ sortie.organisateur.friendlyName }}
            </a>


        {{ macros.liste_utilisateurs(
            sortie.participants,
            ' - Participants: (' ~ sortie.participants.count ~ '/'~ sortie.limiteParticipants ~ ') :',
            ''
        ) }}

    </article>

    {% endfor %}

{#           <div>#}
{#             <div class="display-flex justify-content-center">#}
{#                   {% do sorties.setPageRange(2) %}#}
               {{ knp_pagination_render(sorties, '/pagination.html.twig') }}

{#             </div>#}
