{% import 'macros.html.twig' as macros %}
{% for sortie  in sorties %}


    <article class="sorties-liste">
        <a
                href="{{ path('sorties_detail', {id:sortie.id}) }}"
                title="Détails de la sortie">{{ sortie.nom }}
        </a>
        - Organisé par :

            <a href="{{ path('user_show', {'id': sortie.organisateur.id}) }}">
                {{ sortie.organisateur.friendlyName }}
            </a>


        {{ macros.liste_utilisateurs(sortie.participants, ' - Participants: ', '') }}

    </article>



{% endfor %}
