{% extends 'base.html.twig' %}

{% block title %}
    Proposer une nouvelle sortie | {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Créer une sortie </h1>

    <section class="sortie-create">
    {{ form_start(sortieForm) }}


        {{ form_row(sortieForm.nom) }}
        {{ form_row(sortieForm.theme) }}
        {{ form_row(sortieForm.date_debut) }}
        {{ form_row(sortieForm.heure_debut) }}
        {{ form_row(sortieForm.date_fin) }}
        {{ form_row(sortieForm.heure_fin) }}
        {{ form_row(sortieForm.duree) }}
        {{ form_row(sortieForm.date_cloture) }}
        {{ form_row(sortieForm.limite_participants) }}
        {{ form_row(sortieForm.infos_sortie) }}
        {{ form_row(sortieForm.campus) }}
        {{ form_row(sortieForm.lieu) }}
        <p>
        <a href="{{ path('lieu_new') }}" >Ajouter un lieu</a>
        </p>
        {{ form_rest(sortieForm) }}


    <button type="submit" class="btn btn-dark">Enregistrer</button>
        <button type="submit" class="btn btn-dark">Publier la sortie</button>
        <button type="submit" class="btn btn-dark">Annuler</button>

    {{ form_end(sortieForm) }}

    </section>

{% endblock %}