{% extends 'base.html.twig' %}

{% block title %}Détail de la sortie{% endblock %}

{% block body %}
    <h2 class="libelle">{{ sortie.nom }}</h2>

    <div>Thématique : {{ sortie.theme.theme }}</div>
    <div>Date : le {{ sortie.dateDebut|date("d/m/Y")}}, de {{ sortie.heureDebut|date('H:i') }} à {{ sortie.heureFin|date('H:i') }}</div>
    <div>Description : {{ sortie.infosSortie }}</div>

    <div>Lieu : {{ sortie.lieu.nom }} à {{ sortie.lieu.ville.nom }}</div>

    <div>Nombre maximal de participants : {{ sortie.limiteParticipants }}</div>
    <div>Nombre de places restantes : {{ sortie.limiteParticipants-sortie.participants|length }} / {{ sortie.limiteParticipants }}</div>
    <div>Nombre d'inscrits : {{ sortie.participants|length }}</div>
    <div>Date limite d'inscription : {{ sortie.dateCloture|date("d/m/Y") }}</div>


    {# message si user vient de cliquer sur s'inscrire ou se désinscrire #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% if app.user %}

        {#  Si déjà inscrit, pouvoir se désinscrire #}
        {% if app.user.sortiesParticipees.contains(sortie) %}

            <h3>Vous êtes inscrit à cette sortie</h3>
            {{ form(desinscriptionSortieForm) }}

          {% else %}
            {# Sinon pouvoir s'inscrire #}
            {{ form(inscriptionSortieForm) }}

        {% endif %}

    {% else %}
        <h3>Pour pouvoir s'inscrire, veuillez vous connecter à votre compte utilisateur</h3>
        <li><a href="{{ path('app_login') }}" title="Se connecter">Se connecter</a> </li>
        <li><a href="{{ path('app_register') }}" title="S'inscrire'">Créer un compte</a> </li>
    {% endif %}


{% endblock %}