{% extends 'base.html.twig' %}

{% block title %}Index des villes{% endblock %}

{% block body %}
    <h1>Villes</h1>

    <table class="table table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>CodePostal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ville in villes %}
            <tr>
                <td>{{ ville.id }}</td>
                <td>{{ ville.nom }}</td>
                <td>{{ ville.codePostal }}</td>
                <td>
                    <a href="{{ path('crud_ville_show', {'id': ville.id}) }}">voir</a>
                    <a href="{{ path('crud_ville_edit', {'id': ville.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('crud_ville_new') }}">Ajouter une ville</a>
{% endblock %}
