{% extends 'base.html.twig' %}

{% block title %}Ville détails{% endblock %}

{% block body %}
    <h1>Ville - détails</h1>

    <table class="table table-dark">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ville.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ ville.nom }}</td>
            </tr>
            <tr>
                <th>CodePostal</th>
                <td>{{ ville.codePostal }}</td>
            </tr>
        </tbody>
    </table>
<p>
    <a class="btn btn-success" href="{{ path('ville_index') }}">Retour</a>
    </p> <p>
    <a class="btn btn-primary" href="{{ path('ville_edit', {'id': ville.id}) }}">Modifier</a>
  </p>
    {{ include('ville/_delete_form.html.twig') }}
{% endblock %}
