<nav class="navigation navbar navbar-expand-md  navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="header-logo navbar-brand" href="{{ path('main_home') }}" title="Accueil">
            <img class="logoENI" src="{{ asset('img/logo_ENI_global.svg') }}" alt="logo ENI">
            <h1 class="d-md-none"><a href="{{ path('main_home') }}">Sortir.com</a></h1>
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav" >
                {#        <li><a href="{{ path('sorties_findSelect') }}" title="Liste des sorties">Sorties</a></li>#}

                {%  if app.user %}
                    <li class="nav-item">
                        <a href="{{ path('user_show', {'id': app.user.id}) }}" title="Profil">
                            {% if app.user.profilePicture is defined and app.user.profilePicture is not null %}
                                <img
                                        src="{{ asset(photos_path ~ app.user.profilePicture.chemindd) }}"
                                        alt="photo de profil"
                                        width="20"
                                        height="20"
                                        style="border-radius: 50%; width: 20px; height: 20px"
                                />
                            {% endif %}

                            {{ app.user.userIdentifier }}
                        </a>
                        {% if app.user.isAdmin %}
                            ⚔
                        {% else %}
                            👤
                        {% endif %}
                    </li>
                    <li class="nav-item"><a href="{{ path('app_logout') }}" title="Se déconnecter">Se déconnecter</a> </li>
                    <li class="nav-item"><a href="{{ path('sorties_create') }}" title="Proposer une sortie">Ajout sortie</a></li>
                    <li class="nav-item"><a href="{{ path('lieu_index') }}">Gerer lieux</a></li>

                    {% if is_granted("ROLE_ADMIN") %}
                        <li class="nav-item"><a href="{{ path('admin_dashboard') }}" title="Admin Dashboard">Admin</a> </li>
                    {% endif %}

                {% else %}
                    <li class="nav-item"><a href="{{ path('app_login') }}" title="Se connecter">Se connecter</a> </li>
                    <li class="nav-item"><a href="{{ path('app_register') }}" title="S'inscrire'">S'inscrire</a> </li>
                {% endif %}
            </ul>
        </div>

    </div>

</nav>