{{ form_start(form) }}
<div class="my-custom-class-for-errors">
    {{ form_errors(form) }}
</div>
    {{ form_rest(form) }}
<div class="user-enregistrer">
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}
