{% extends 'base.html.twig' %}

{% block title %}Liste utilisateurs{% endblock %}

{% block body %}
    <h1>Liste utilisateurs</h1>

    <table class="table table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pseudo</th>
                <th>Email</th>
                <th>Nom de famille</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Est activé</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">{{ user.userIdentifier }}</a>
                    {% if "ROLE_ADMIN" in user.roles %}
                        <span title="admin">⚔</span>
                    {% endif %}

                    {% if app.user.id == user.id %}
                        (<a href="{{ path('user_edit', {'id': user.id}) }}">modifier</a>)
                    {% endif %}

                </td>
                <td>{{ user.email }}</td>
                <td>{{ user.familyName }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.telephone }}</td>
                <td>{{ user.isActive ? 'Oui' : 'Non' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('user_new') }}" class="btn btn-primary">Ajouter un utilisateur</a>
    {% endif %}
{% endblock %}
