{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Nom de famille</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Est activé</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">{{ user.userIdentifier }}
                    {% if "ROLE_ADMIN" in user.roles %}
                        ⚔
                    {% endif %}
                    </a>
                    {% if app.user.id == user.id %}
                        (<a href="{{ path('user_edit', {'id': user.id}) }}">modifier</a>)
                    {% endif %}

                </td>
                <td>{{ user.email }}</td>
                <td>{{ user.familyName }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.telephone }}</td>
                <td>{{ user.isActive ? 'Oui' : 'Non' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">Create new</a>
{% endblock %}
